<app-header></app-header>
<div class="container-lg w-100">
    <div class="row mt-3">
        <div class="col-lg-4 bg-white pb-5 pt-2 rounded-start-2">
            <div class="">
                <img src="https://salt.tikicdn.com/cache/750x750/ts/product/3d/46/98/86f3925c5f8905b69fdefc093bf4c963.jpg.webp"
                    alt="" class="w-100 h-100 object-fit-cover">
            </div>
            <div class="list-img">
                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/0d/25/5c/3dff453e46604763d13b39b963f36027.jpg.webp"
                    alt="" class="active-img">
                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/0d/25/5c/3dff453e46604763d13b39b963f36027.jpg.webp"
                    alt="">
                <img src="https://salt.tikicdn.com/cache/280x280/ts/product/0d/25/5c/3dff453e46604763d13b39b963f36027.jpg.webp"
                    alt="">
            </div>
        </div>
        <div class="col-lg-6 bg-white py-4 pb-5">
            <div class="px-3 d-flex flex-column justify-content-between h-100">
                <div class="">
                    <p class="text-secondary fs-3">Điện thoại Samsung Galaxy S23 Ultra 5G (12GB/512GB) - Hàng
                        chính
                        hãng
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cumque voluptate excepturi
                        voluptatum, officiis alias voluptas a rem accusantium ipsam. Accusamus repudiandae nostrum
                        quibusdam veritatis?</p>
                    <div class="text-secondary border p-3 rounded-2 bg-body-tertiary">
                        <span class="d-flex gap-2 align-items-center">
                            <i class="fa-solid fa-list-ul"></i>
                            Danh mục: Điện thoại</span>
                        <p class="d-flex gap-2 align-items-center mt-1">
                            <i class="fa-regular fa-money-bill-1"></i>
                            Đã bán 1000+
                        </p>
                    </div>
                    <p class="mt-4 d-flex align-items-center gap-2">
                        <i class="fa-solid fa-truck-fast"></i>
                        Giao đến STU Đại Học Công Nghệ Sài Gòn
                    </p>
                </div>

                <div class="border-top text-secondary">
                    <p class="mt-4">Số lượng</p>
                    <div class="text-secondary increase-quantity">
                        <span><i class="fa-solid fa-plus"></i></span>
                        <span>1</span>
                        <span><i class="fa-solid fa-minus"></i></span>
                    </div>
                </div>
                <a href="#" class="btn btn-primary mt-4 py-2 w-50 mx-auto">Thêm vào giỏ hàng</a>
            </div>
        </div>
        <div class="col-lg-2 rounded-end-3 bg-white">
            <div class="commits">
                <div class="commit">
                    <img width="32" height="32"
                        src="https://salt.tikicdn.com/ts/upload/2c/48/44/720434869e103b03aaaf1a104d91ad25.png"
                        alt="commit">
                    <span>Mở hộp
                        <br>
                        kiểm tra
                        <br>
                        nhận hàng
                    </span>
                </div>
                <div class="commit">
                    <img width="32" height="32"
                        src="https://salt.tikicdn.com/ts/upload/4b/a1/23/1606089d5423e5cba05e3820ad39708e.png"
                        alt="commit">
                    <span>Hoàn tiền
                        <br>
                        <b>111%</b>
                        <br>
                        nếu hàng giả
                    </span>
                </div>
                <div class="commit">
                    <img width="32" height="32"
                        src="https://salt.tikicdn.com/ts/upload/63/75/6a/144ada409519d72e2978ad2c61bc02a7.png"
                        alt="commit">
                    <span>Đôi trả trong
                        <br>
                        <b>7 ngày</b>
                        <br>
                        nếu sp lỗi
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>